@tailwind base;
@tailwind components;
@tailwind utilities;

/* //////////Hamburger NavBar////// */
a {
  color: rgb(167, 155, 155);
  text-decoration: none;
}

.p-menu1 {
  height: 100%;
}

/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-end;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: right;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}

/* Menu */
.menu1 {
  width: 100%;
  background-color: white;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px "Oswald", sans-serif;
}

.link1:hover {
  background-color: gray;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* //////////////Text////////////////////// */
body {
  /* margin: 50px; */
  margin: 0;
}

.hero {
  color: white;
  font-size: 40px;
  font-weight: 1000;
  line-height: 46.96px;
  font-family: "Raleway";
  font-style: bold;
  width: 784px;
  height: 94px;
  line-height: 46.96px;
}

.heroSmall {
  color: white;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 600;
  font-style: bold;
  line-height: 28.18px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway";
}

.marine {
  color: #43aa87;
  font-style: bold;
  font-size: 40px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  vertical-align: top;
}

/* p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
} */

ul {
  width: 100%;
}

li {
  font-family: "Roboto";
  font-size: 22px;
  margin-left: 55px;
  list-style-type: circle;
  width: 50%;
  text-align: left;
}

.button {
  border: 2px solid #d64933;
  background-color: #d64933;
  color: white;
  border-radius: 5px;
  width: 168px;
  height: 40px;
  line-height: 17.61px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.secondLine {
  font-family: "Raleway";
  font-style: regular;
  text-align: left;
  vertical-align: center;
  font-size: 24px;
  line-height: 28.18px;
}

.smallRoboto {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}
.smallerTitles {
  font-size: 32px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.smallRaleway {
  font-family: "Raleway";
  /* font-weight: 400; */
  font-style: normal;
  font-size: 20px;
  line-height: 23.48px;
}

.header1 {
  width: 1010px;
  height: 47px;
  top: 548px;
  left: 96px;
}

.container {
  width: 49vw !important;
}

.containerText {
  width: 77%;
  margin-left: 17%;
  margin-top: 17%;
}

/* ///////////////Images///////////////////// */
.sprout {
  width: 357px;
  height: 584px;
  top: 1143px;
  left: 699px;
  border-radius: 16px;
}

.rightship {
  width: 49vw !important;
}

.leftship {
  width: 49vw !important;
}

.heroz {
  border-bottom-right-radius: 170px;
}

.MOP {
  display: flex;
  justify-content: space-around;
}

.MOPsection {
  margin: 8%;
}

.calculateIcon {
  width: 72.78px;
  height: 72.5px;
  top: 727px;
  left: 190.86px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.visualizeIcon {
  width: 72px;
  height: 72px;
  top: 742.84px;
  left: 539.5px;
  margin: auto;
}

.compensateIcon {
  width: 72px;
  height: 72px;
  top: 727px;
  left: 890.14px;
  margin: auto;
}

.logo {
  width: 36px;
  height: 30px;
  top: 24px;
  left: 96px;
}

.teampic {
  width: 100px;
  height: 100.99px;
  border-radius: 10px;
}

.bigBossMans {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.littleBossMans {
  display: flex;
  flex-direction: initial;
  justify-content: space-evenly;
  margin-top: 20px;
}

.esg {
  width: 90px;
  margin-bottom: 3%;
}

.footer {
  /* width: 1152px; */
  /* height: 443px;
  top: 3716px; */
}
.footer li {
  list-style: none;
  color: white;
}

.footerLogoTop {
  width: 90px;
}

.footerLogo {
  width: 44px;
}

.alignFooter {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  margin-top: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  color: white;
}

#passwordView {
  width: 18px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 20;
}
