@tailwind base;
@tailwind components;
@tailwind utilities;

/* //////////Hamburger NavBar////// */
a {
  color: rgb(167, 155, 155);
  text-decoration: none;
}

/* ///////////////////try this stuff out might be missing from burger menu css 

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #d64933;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 45px;
  width: 45px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  line-height: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.bm-item:hover {
  color: #d64933;
}

.burgerLogo {
  padding-bottom: 10px;
}

.burgerLogoNavBar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
}

.burgerLogoNavBarScroll {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: white;
}

.burgerNavbarLogo {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 15px;
  left: 30px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* ///////////////////end of try this stuff out

.p-menu1 {
  height: 45px;
  width: 100%;
  position: fixed;
  top: 10;
}

.testThisShit {
  border: 2px solid purple;
}

.p-menuScroll {
  height: 45px;
  width: 100%;
  position: fixed;
  top: 10;
  background-color: white;
}

/* Hamburger */
/* .hamburger1 {
  height: 45px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-end;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: right;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
  z-index: 100;
  border: 2px solid red;
} */

/* Menu */

.outerWideNav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  transition: background-color 0.5s ease;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerWideNavScroll {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  transition: background-color 0.5s ease;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wideNav {
  width: 950px;
  padding-left: 2%;
  padding-right: 2%;
}

.innerWideNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftWideNav {
  flex-grow: 2;
}

.centerWideNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 7;
}

.rightWideNav {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2;
}

/* .wideNavScroll {
  width: 950px;
  border: 1px solid black;
} */

.menu1 {
  width: 20%;
  background-color: white;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px "Oswald", sans-serif;
}

.link1:hover {
  background-color: gray;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* //////////////Text////////////////////// */
body {
  /* margin: 50px; */
  margin: 0;
}

.hero {
  color: white;
  font-size: 40px;
  font-weight: 1000;
  line-height: 46.96px;
  font-family: "Raleway";
  font-style: bold;
  width: 784px;
  height: 94px;
}

.heroSmall {
  color: white;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  line-height: 28.18px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway";
}

.marine {
  color: #43aa87;
  font-style: bold;
  font-size: 40px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  vertical-align: top;
}

ul {
  width: 100%;
  list-style: none;
}

li {
  color: white;
  list-style: none;
}

.paragraph {
  width: 65%;
}

.button {
  border: 2px solid #d64933;
  background-color: #d64933;
  color: white;
  border-radius: 5px;
  width: 168px;
  height: 40px;
  line-height: 17.61px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.secondLine {
  font-family: "Raleway";
  font-style: regular;
  text-align: left;
  vertical-align: center;
  font-size: 24px;
  line-height: 28.18px;
}

.mdRoboto {
  font-family: "Roboto";
  font-style: normal;
  /* font-weight: 400; */
  font-size: 24px;
  line-height: 28.13px;
}

.smallRoboto {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
}
.smallerTitles {
  font-size: 32px;
  line-height: 37.57px;
  font-weight: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.smallRaleway {
  font-family: "Raleway";
  /* font-weight: 400; */
  font-style: normal;
  font-size: 24px;
  line-height: 28.18px;
}

.header1 {
  width: 1010px;
  height: 47px;
  top: 548px;
  left: 96px;
}

.container {
  width: 49vw !important;
}

.containerText {
  width: 77%;
  margin-left: 17%;
  margin-top: 17%;
}

/* ///////////////Images///////////////////// */
.sprout {
  border-radius: 16px;
  height: 55%;
}

.rightship {
  width: 49vw !important;
}

.leftship {
  width: 49vw !important;
}

.heroz {
  border-bottom-right-radius: 170px;
  /* margin-top: -62px; */
}

.focusParagraph {
  width: 75%;
}

.flatParagraph {
  width: 70%;
}

.MOP {
  display: flex;
  justify-content: space-around;
}

.MOPsection {
  margin: 8%;
  max-height: 650px;
}

.MOPsection2 {
  margin: 8%;
}

.calculateIcon {
  width: 72.78px;
  height: 72.5px;
  top: 727px;
  left: 190.86px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.visualizeIcon {
  width: 72px;
  height: 72px;
  top: 742.84px;
  left: 539.5px;
  margin: auto;
}

.compensateIcon {
  width: 72px;
  height: 72px;
  top: 727px;
  left: 890.14px;
  margin: auto;
}

.logo {
  width: 36px;
  height: 30px;
  top: 24px;
  left: 96px;
}

.teampic {
  width: 100px;
  height: 100.99px;
  border-radius: 10px;
}

.bigBossMans {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.littleBossMans {
  display: flex;
  flex-direction: initial;
  justify-content: space-evenly;
  margin-top: 20px;
}

.esg {
  width: 90px;
  margin-bottom: 3%;
}

.footer li {
  color: white;
  list-style: none;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer {
  color: white;
  list-style: none;
  margin: auto;
  display: flex;
  justify-content: center;
  
}

.footerLogoTop {
  width: 50px;
}

.footerLogo {
  width: 44px;
}

.alignFooter {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  margin-top: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

#passwordView {
  width: 50px;
  height: 52px;
  position: absolute;
  right: -50px;
  top: 11px;
  z-index: 2000;
}
