@tailwind base;
@tailwind components;
@tailwind utilities;

/* //////////Mobile///////////////// */
.navIcons {
  height: 55px;
 
}

.outerFrameMM {
  background: #ffffff;
  border: 3px solid #43aa87;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #cbc9c9;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.outerFrameM2 {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #cbc9c9;
  border-radius: 10px;
  border: 3px solid #cbc9c9;
  margin: auto;
}

.shipSearchM {
  color: lightgray;
  margin: auto;
}

.marineM {
  color: #43aa87;
  font-style: bold;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  vertical-align: top;
}

.marineM2 {
  color: #43aa87;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  line-height: 32.08px;
  
}

.headerSub {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24.06px;
  margin: auto;
}

.magnifyGlassM {
  width: 16px;
}

.group70 {
  width: 70%;
  margin: auto;
}

.frameM {
  background: #ffffff;
  border: 3px solid #cbc9c9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #cbc9c9;
  border-radius: 8px;
  margin: 0 15px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 95%;
}

.image2 {
  position: absolute;
  top: 10px;
  right: 35px;
  width: 8%;
}

.removeIcon {
  width: 30%;
  margin-left: auto;
}

#addIcon {
  width: 35%;
}

.statistics {
  display: flex;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 24.06px;
  color: #43aa87;
  margin: auto;
}

.inputOption {
  border-color: #5B65D7;
  width: 90%;
  margin: 5%;
}

.verticalLine {
  height: 10%;
}

.button {
  border: 2px solid #d64933;
  background-color: #d64933;
  color: white;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  line-height: 17.61px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
}


/* /////////////Desktop//////////////////// */
/* .heroDesk {
  width: 80%;
} */

.outerFrameD {
  background: #ffffff;
  border: 3px solid white;
  box-shadow: 0px 4px 4px #cbc9c9;
  border-radius: 8px;
  width: 5%;
}

.navIconsD {
  height: 65px;
  margin: auto;
}

#parentD {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
}

#image1D {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
}

#image2D {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}